
4 Exploratory Analysis/Course Project 1/household_power_consumption.txt
5 Reproducible Research/Course Project 1/activity.csv
5 Reproducible Research/Course Project 1/.RData
5 Reproducible Research/Course Project 1/.Rhistory
